.footer {
  background-color: var(--bg-color-header);
  color: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  width: 100%;
  bottom: 0;
}
@media (max-width: 480px) {
  .footer {
    display: block;
    text-align: center;
  }
}
.footer_text {
  margin-right: 10px;
  font-size: 18px;
}
@media (max-width: 480px) {
  .footer_list {
    margin-top: 15px;
  }
}
.footer_link {
  display: flex;
  align-items: center;
  color: var(--main-background-color);
  text-decoration: none;
}

.footer_icon {
  margin-left: 8px;
}

.footer_name {
  font-weight: bold;
}
