#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  font-size: 1rem;
}
:root {
  --text-color: #212121;
  --bg-color-header:  #BF2995;
  --accent-color: #F5721F;
  --accent-color-hover: #E91363;
  --main-background-color: #ffffff;
  --frame-background-color: #f5f4fa;
  --border-color: #ececec;
  --input-border-color: #ccc;
  --border: #afb1b8;
  --input-coor: rgba(33, 33, 33, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--main-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

.section {
  padding: 20px;
  text-align: center;
}
.padding {
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .tablet {
    display: none;

    display: block;
  }
}
@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  background-color: var(--main-background-color);
  color: var(--text-color);
}
h1,
h2,
h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
header {
  border-bottom: 1px solid var(--border-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


